@media screen and (max-width: 1400px) {

    #profile {
       height: 83vh;
    }

    #about,
    #experience,
    #contact,
    #hobies {
      height: 40vh;
      justify-content: center;
    }

    .about-containers {
       flex-wrap: wrap;
    }

    #contact {
        height: fit-content;
    }

    .logo {
     width: 60%;
    height: 50%;
    
    }

  .horizon-img {
    width: 100%;
  }

body {
  margin: 0;
}


.title,
.title1 {
  font-size: 5rem;
}

  }





@media screen and (max-width: 1200px) {



.image-point {
  height:10vh;
}

#experience .title1,
#hobies .title1 {
  color: black;
  -webkit-text-stroke: 0%;
}


  .image-point  ul li a {
    font-size: 30px;
  }

  .section__text {
margin-top: 25%;
  }

.logos::before,
.logos::after {
  background: none;
}

#about {
  background-size: 300px;
}

h5 {
  font-size: 10px;
}



.horizon-img {
width: 55em;
}

  .logo1 img {
    width: 10rem;
  }

  .logo1 {
    text-align: center;
    margin-top: 10%;
display:flex;
font-size: 15vh;
font-weight: 5px;
  }

  #desktop-nav {
    display:flex;
  }

  #img-intro {
    display: flex;
    
   }

    #hamburger-nav {
      display:none;
      background: none;
    }

    

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    .experience-sub-title {
      color: rgb(0, 0, 0);
    }


    #profile,
    .section-container {
        display: block;
    }


    section,
    .section-container {
        height: fit-content;
    }


    .section__pic-container {
        width: 275px;
        height: 275px;
        margin : 0 auto 2rem;
    }
    .about-containers {
    margin-top: 0;
     } 
   
 #about-me:hover {
  transform: none;
 }
    .title {
      font-size: 5rem;
    }
    #about-me .title1 {
      font-size:  5rem; ;
    }

  .details-container,
  .details-container2 {
    margin-right: 20%;
    margin-left: 20%;
  }

  #about-me h1{
    font-size: 30px;
  }
  
  #about-me h2 {
    font-size: 8rem;
  }

    .title1 {
      font-size: 5rem;

    }

  .logo{
    display: none;
  }
    #contact .title1 {
      font-size: 5rem;
    }
}

.slider { 
  height: 10%;
  width: 100%;
}

    @media screen and (max-width: 600px) {

      
      .title-hobies {
        color: black;
      }

      .text-wrapperr h1 {
        margin-top: 15%;
display: flex;
font-size: 15vh;
color:    black; 
;
      }


#about-me  h1 {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);

}

#about-me {
  height: 110vh;
  margin-bottom: 45%;
}

#about-me:hover {
  transform: none;
  
}

.h3,
.h3-details {
color: black;
font-size: 8px;
}

#about-me .title1 {
  text-align: center;
  display: block;
}
     
#about-me h2 {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}
      .details-container2 {
          padding: 2%;
          flex: 1;
          border-radius: 10%;
          border: 0.1px solid rgb(0, 0, 0);
          text-align: center;
       margin: auto;
          border-bottom: none;
          box-shadow: none;
      }

      #about-me .title1 {
        font-size: 2.4rem;
        color: rgb(0, 0, 0);
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0%;
      }

#about-me h1 {
  font-size: 16px;
  font-weight: 10;
  text-align: center;
  margin: 15%;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-family: 'Rubik Glitch Pop', system-ui;

}

#about-me .section__text__p1{
  color: rgb(58, 58, 58);
}
   
      body {
        margin: 0;
      }
      .scrolling-text-container {
        display: none;
      }

      #contact,
      footer {
        height: 40vh;
      }

#profile {
  background: url(./_\ \(13\).png) center;
  background-size: 120%;
  border-radius: 10%;
  height: 20vh;
  margin-bottom: 50%;
   }

   .section__text___p1 {
color: white;
   }

#profile .title {
  font-size: 40px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0px;
}

   .title,
   .section__text___p2 {
color: rgb(255, 255, 255);
   }

   .p {
    font-size: 10px;
    color: white;
   }
   
.text-container {
  margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
}


        article {
          font-size: 1rem;
        }
        footer nav {
          height: fit-content;
          margin-bottom: 2rem;
        }
        .about-containers,
        .contact-info-upper-container,
        .btn-container {
          flex-wrap: wrap;
   
        }
        .contact-info-container {
          margin:0; 
        }

        .contact-info-container p,
        .nav-links li a {
          font-size: 1rem;
          
        }

        .experience-sub-title {
          font-size: 1.25rem;
          color: rgb(0, 0, 0);
          -webkit-text-stroke: 0.5px rgb(0, 0, 0);
        }

.containers {
  border: none;
  width: 100%;
}

        .logo {
          font-size: 1.5rem;
        }

#experience .title1,
#hobies .title1 {
  color: rgb(0, 0, 0);
          -webkit-text-stroke: 0.5px rgb(248, 248, 248);
}

.container-experience {
  margin-top: 50%;
  height: auto;
  justify-content: center;
  align-items: center;

}


 #about:hover {
  transform: none;
 }


        .nav-links {
          flex-direction: column;
          gap: 0.5rem;
          text-align: center;
          margin-top: 100px;
        }

        .section__pic-container {
          width: auto;
          height: 46vw;
          justify-content: center;
        }

        .section__text___p2 {
          font-size: 1rem;
        }
       
        .title,
        .title1 {
          font-size: 2.8rem;
        
        }
        
        .text-container {
          text-align: justify;
        }

        .logo{
          margin-right: 70%; 
        }

  .menu-links a {
    font-size: 1rem;
  }

 

  p{ 
  font-size: 0.7rem; 
  }
   


.clock{
  display: flex;
  justify-content: center;
}


.slider { 
  height: 10%;
  width: 100%;
}


.text-container {
  font-size: 12px;
  text-align: justify;  
}


#img-intro {
  margin-top: 0;
    display: flex;
    height: 20;
    background: url(./idea/296FAE26-2B47-4B35-A075-04F199474656.gif) center;
}

.text-wrapper {
  display: none;
  margin-bottom: 0%;
  border: none;
}


#hamburger-nav {
  margin: 10%;
  display: flex;
  background: none;
}

.logo {
  display: flex;
  font-size: 1.5em;
  border-radius: 100%;
  border: 1px solid black;
}

#desktop-nav {
  animation: rotateAnimation 2s linear infinite;
  font-size: 2.5px;
  display: none;
  margin-top: 10%;
}



.logo1 {
  display: flex;

}

h5 {
  margin-top: 1%;
  font-size: 0.4rem;
}


.horizon-img {
  margin: 0;
}

.clock{
  display: flex;
  margin-left: 52%;
}


.section__text{
margin-top: 70%;
}

#contact .title1{
       font-size: 2.8rem;
  
}

#experience .section__text__p1 {
  color: rgb(0, 0, 0);
}

.container-text {
  width: 3%;
  border-radius: 10px ;   
  margin: 20%;
  background-color: rgb(255, 255, 255);

}



.containers {
  width: 100%;

}

.slides {
  height: 30%;
}

#experience .title1,
#hobies .title1 {
  color: rgb(0, 0, 0);
          -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

#experience,
#hobies {
  background:url()  ;
}

#experience {
  margin-top: 50%;
  border-radius: 0%;
}

#hobies {
 margin-bottom: 50% ;
 border-radius: 0%;

}
    }
