@media screen and (max-width: 1400px) {

    #profile {
       height: 83vh;
    }

    #about,
    #experience,
    #contact,
    #hobies {
      height: 40vh;
      justify-content: center;
    }

    .about-containers {
       flex-wrap: wrap;
    }

    #contact {
        height: fit-content;
    }

    .logo {
     width: 60%;
    height: 50%;
    
    }

  .horizon-img {
    width: 100%;
  }

body {
  margin: 0;
}


.title,
.title1 {
  font-size: 5rem;
}





  }





@media screen and (max-width: 1200px) {
  .link2 {
    display: none;
  }

#hobies-phone {
  display: none;
}

.image-point {
  height: 80vh;
}

.image-point ul li a {
  letter-spacing: -2px;
}

#experience .title1,
#hobies .title1 {
  color: black;
  -webkit-text-stroke: 0px black;
}


  .image-point  ul li a {
    font-size: 30px;
  }

  .section__text {
margin-top: 25%;
  }

.logos::before,
.logos::after {
  background: none;
}

#about {
  background-size: 300px;
}

h5 {
  font-size: 10px;
}



.horizon-img {
width: 55em;
}

  .logo1 img {
    width: 10rem;
  }

  .logo1 {
    text-align: center;
    margin-top: 10%;
display:flex;
font-size: 15vh;
font-weight: 5px;
  }

  #desktop-nav {
    display:flex;
  }

  #img-intro {
    display: none;
    
   }

    #hamburger-nav {
      display:none;
      background: none;
    }

    

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #experience,
    #hobies {
      background: none;
    }

    .experience-sub-title {
      color: rgb(0, 0, 0);
    }


    #profile,
    .section-container {
        display: block;
    }


    section,
    .section-container {
        height: fit-content;
    }


    .section__pic-container {
        width: 275px;
        height: 275px;
        margin : 0 auto 2rem;
    }
    .about-containers {
    margin-top: 0;
     } 
   
 #about-me:hover {
  transform: none;
 }
    .title {
      font-size: 5rem;
    }
    #about-me .title1 {
      font-size:  5rem; ;
    }

  .details-container,
  .details-container2 {
    margin-right: 20%;
    margin-left: 20%;
  }

  #about-me h1{
    font-size: 30px;
  }

  .image-point {
    min-height: 50vh;
  }
  
.image-point ul {
 margin-top: 40%;
}
.image-point li{
  margin: 10%;

}

.image-point p {
  text-align: right;
  color: white;
}




  #about-me h2 {
    font-size: 8rem;
  }

    .title1 {
      font-size: 5rem;

    }

  .logo{
    display: none;
  }
    #contact .title1 {
      font-size: 5rem;
    }
}

.slider { 
  height: 10%;
  width: 100%;
}

    @media screen and (max-width: 600px) {

      .title-hobies {
        color: black;
      }

      .text-wrapperr h1 {
        margin-top: 35%;
        margin-bottom: 5%;
display: flex;
font-size: 10vh;
color: rgb(0, 0, 0); 
animation:   rotateAnimation 2s linear infinite;
}


#about-me  h1 {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(255, 255, 255);

}


#about-me:hover {
  transform: none;
  
}

.h3,
.h3-details {
color: rgb(255, 247, 247);
font-size: 8px;
}

#about-me .title1 {
  text-align: center;
  display: block;
}
     
#about-me h2 {
  font-size: 100px;
  font-weight: 100;
  -webkit-text-stroke: 0px rgba(0, 0, 0, 0.463);
  color: rgb(0, 0, 0);
  font-family: 'TheFont';

}
      .details-container2 {
          padding: 2%;
          flex: 1;
          border-radius: 10%;
          border: 0.1px solid rgb(0, 0, 0);
          text-align: center;
       margin: auto;
          border-bottom: none;
          box-shadow: none;
      }

      #about-me .title1 {
        font-size: 2.4rem;
        color: rgb(0, 0, 0);
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0%;
      }

#about-me h1 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 15%;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-family: 'Rubik Glitch Pop', system-ui;

}

#about-me .section__text__p1{
  color: rgb(58, 58, 58);
}
   
      body {
        margin: 0;
      }
      .scrolling-text-container {
        display: none;
      }

      #contact,
      footer {
        height: 40vh;
      }

#profile {
  background: url("./Aura.png") center  ;
 border-radius: 10%;
  height: 10vh;
  margin-bottom: 50%;
  /*border-bottom-left-radius: 100%;
  border-bottom-right-radius:100% ;*/
   }

   .section__text___p1 {
color: rgb(0, 0, 0);
   }

#profile .title {
  font-size: 40px;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0px;
}

   .title,
   .section__text___p2 {
color: rgb(0, 0, 0);
   }

   .p {
    font-family: 'Rubik Glitch Pop', system-ui;
font-weight: 100;
    font-size: 10px;
    color: rgb(0, 0, 0);
   }
   
.text-container {
  margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
}


        article {
          font-size: 1rem;
        }
        footer nav {
          height: fit-content;
          margin-bottom: 2rem;
        }
        .about-containers,
        .contact-info-upper-container,
        .btn-container {
          flex-wrap: wrap;
   
        }
        .contact-info-container {
          margin:0; 
        }

        .contact-info-container p,
        .nav-links li a {
          font-size: 1rem;
          
        }

        .experience-sub-title {
          font-size: 1.25rem;
          color: rgb(0, 0, 0);
          -webkit-text-stroke: 0.5px rgb(0, 0, 0);
        }

.containers {
  border: none;
  width: 100%;
}

        .logo {
          font-size: 1.5rem;
        }

#experience .title1,
#hobies .title1 {
  color: rgb(0, 0, 0);
          -webkit-text-stroke: 0.5px rgb(248, 248, 248);
}

.container-experience {
  margin-top: 0%;
  justify-content: center;
  align-items: center;

}


        .nav-links {
          flex-direction: column;
          gap: 0.5rem;
          text-align: center;
          margin-top: 50px;
        }

        .section__pic-container {
          width: auto;
          height: 46vw;
          justify-content: center;
        }

        .section__text___p2 {
          font-size: 1rem;
        }
       
        .title,
        .title1 {
          font-size: 3rem;
        
        }
        
        .text-container {
          text-align: justify;
        }

        .logo{
          margin-right: 70%; 
        }

  .menu-links a {
    font-size: 1rem;
  }

 

  p{ 
  font-size: 0.7rem; 
  }
   


.clock{
  display: flex;
  justify-content: center;
}


.slider { 
  height: 10%;
  width: 100%;
}


.text-container {
  font-size: 12px;
  text-align: justify;  
}

.terra-img {
  height: 130%;
}

#img-intro {
  margin-top: 0;
    display: none;
    height: 10;
    background: url(./idea/296FAE26-2B47-4B35-A075-04F199474656.gif) center;
}

.text-wrapper {
  display: none;
  margin-bottom: 0%;
  border: none;
}


#hamburger-nav {
  margin: 10%;
  display: flex;
  background: none;
}

.logo {
  color: white;
  display: flex;
  font-size: 1em;
  border-radius: 100px;
  background-color: rgb(0, 0, 0);
  border: 0.5px solid black;
  padding: 2%;
}

#desktop-nav {
  animation: rotateAnimation 2s linear infinite;
  font-size: 2.5px;
  display: none;
  margin-top: 10%;
}



.logo1 {
  display: flex;

}

h5 {
  margin-top: 1%;
  font-size: 0.4rem;
}


.horizon-img {
  margin: 0;
}

.clock{
  display: flex;
  margin-left: 52%;
}


.section__text{
margin-top: 70%;
}

#contact .title1{
       font-size: 2.8rem;
  
}

#experience .section__text__p1 {
  color: rgb(0, 0, 0);
}

.container-text {
  width: 3%;
  border-radius: 10px ;   
  margin: 20%;
  background-color: rgb(229, 229, 229)
  /* Ajoutez une marge entre chaque commentaire */
 
}


.containers {
width: 100%;
}

.slides {
  box-shadow: 30px 30px 100px rgb(0, 0, 0);
width: 27%;
    max-width: 100%; /* Ajustez la largeur maximale de l'image pour s'adapter au conteneur */

}

#experience .title1,
#hobies .title1 {
  color: rgb(0, 0, 0);
          -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}



#experience {
  background: none;
  border-radius: 0%;
  margin-bottom: 0%;
  height: auto;
}

#hobies {
  background: none;
 margin-bottom: 50% ;
 border-radius: 0%;
display: none;
}

#hobies-phone {
  display: block;
  background-color: black;
}


#hobies-phone  {
  width: 100%;
  padding-bottom: 20%;
  margin-bottom: 30%;
}

#hobies-phone .title1,
.title-hobies{
  color: white;
}


.hobies-text {
  border-top:none ;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 10%;
  margin: 10%;
}

#hobies-phone .slides {
  width: 40%;
  box-shadow: 0px 100px 100px rgba(131, 131, 131, 0.519);
}

#hobies-phone .p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 3%;
  font-family: 'Rubik Glitch Pop', system-ui;
font-weight: 100;
}

.link2 {
  display: inline;
}

.menu-links .link1 {
  display: none;
}

.link1 {
  display: none;
}




.terra-img {
  margin-bottom: 30%;
}
    }

